version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: GuestHouse
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: UPBAavqR84
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  server-app:
    build: ./server-app
    container_name: server-app
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/GuestHouse
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: UPBAavqR84
    depends_on:
      - postgres
    networks:
      - app-network

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      SERVER_APP_URL: http://server-app:8081
    depends_on:
      - server-app
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge